.block
  = form_for [:brightcontent, @item], :html => { :multipart => true } do |f|
    %fieldset
      .field
        = f.label 'title', 'title'.to_s.humanize
        = f.text_field 'title'
        = error_message_on @item, 'title'
      
      = link_to_function "Options", "jQuery('.more_options').slideToggle()"
      %br/
      %br/
      .fields.more_options{:style => "#{((invalid_fields(@page) & [:name, :url_name, :parent_id, :position, :meta_keywords, :meta_description]).empty?) ? 'display: none;' : ''}"}
        .section
          - unless @page.homepage?
            .field.tree
              .parent_id
                = f.label 'parent_id', 'Menu parent'
                = f.select :parent_id, options_for_select(page_pairs(Page.root, @page), @page.parent_id)
              .position
                = render 'position_tag', :page => @page
        
          .field
            = f.label 'name', 'Menu name'
            = form_field f, 'name'
            = error_message_on @item, 'name'
        
          - if @page.homepage?
            .field
              = f.label 'url_name', 'Url'
              .url_name
                %span.parent_path= parent_path @page
        
          - else
            .field
              = f.label 'url_name', 'Url'
              .url_name{:style => "#{(invalid_fields(@page).include? :url_name) ? 'display: none;' : ''}"}
                %span.parent_path= parent_path @page
                %span#url_name_preview= @page.url_name
                = link_to_function "edit", "jQuery('.url_name').toggle()"
              .url_name{:style => "#{(invalid_fields(@page).include? :url_name) ? '' : 'display: none;'}"}
                %span.parent_path= parent_path @page
                = form_field f, 'url_name'
                = link_to_function "ok", "jQuery('.url_name').toggle()"
                = error_message_on @item, 'url_name'
      
        .section
          .field.textarea
            = f.label 'meta_description', 'Meta description'
            = f.text_area :meta_description, :rows => 2
            = error_message_on @item, 'meta_description'
          .field.textarea
            = f.label 'meta_keywords', 'Meta keywords'
            = f.text_area :meta_keywords, :rows => 2
            = error_message_on @item, 'meta_keywords'

      .field
        = f.label 'teaser', 'teaser'.to_s.humanize
        = f.text_area :teaser, :style => 'height: 40px;'
        = error_message_on @item, 'teaser'
      .field
        = f.label 'body', 'body'.to_s.humanize
        = form_field f, 'body'
        = error_message_on @item, 'body'
      .assets
        = f.fields_for :assets do |builder|
          = render 'asset_fields', :f => builder
      = link_to_add_fields "Add asset", f, :assets

      %br/
      %br/

      .inline_field
        = f.label 'draft', 'Draft'
        (not published)
        = form_field f, 'draft'

      .inline_field
        = f.label 'hidden', 'Hidden'
        from menu's
        = form_field f, 'hidden'

      %div{:style => "clear:both;"}
      
      = render "form_buttons"

:javascript
  function remove_fields( link ) {
    $(link).parent().find("input[type='hidden']").val(1);
    $(link).parent().fadeOut(500);
  }
  
  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).prev().append( content.replace(regexp, new_id) );
  }
  (function ($) {      
    
    // ****************************************
    // Auto update name and url_name when editing title / name
    function url_escape(string) {
      return string.toLowerCase().replace(/[^-a-z0-9]/g, '-').replace(/-+/g, '-').replace(/(^-|-$)/, '');
    }
    
    var old_title = $("#page_title").val(),
        old_name = $("#page_name").val(),
        new_record =  "#{@page.new_record?}";
    
    setInterval(function () {
      var new_title = $("#page_title").val();
      if ( $("#page_name").val() == old_title )
        $("#page_name").val( new_title );
      old_title = new_title;
  
      var new_name = $("#page_name").val();
      if ( new_record && $("#page_url_name").val() == url_escape(old_name) )
        $("#page_url_name").val( url_escape(new_name) );
      $("#url_name_preview").html( $("#page_url_name").val() );
      old_name = new_name;
    }, 150);
    
    
    // ****************************************
    // When changing parent update position dropdown and preview url
    $('.parent_id select').change(function () {
      $.ajax({
        url: 'parent_specific_info',
        dataType: 'script',
        data: {parent_id: $(this).val() }
      });
    });
    
  })(jQuery);