<tr class="<%= 'hidden ' if page.hidden? %><%= 'draft' if page.draft? %>">
  <td style="padding-left:10px;">
  <%= raw( tree_images(page, depth) ) %>
  <div>
    <%= link_to page.name, edit_brightcontent_page_path( page ) %>
  <% if page.draft? %>
    <em>draft</em>
  <% end %>
  <% if page.hidden? %>
     <span>(hidden)</span>
  <% end %>
  </div>
  </td>
  <%= render "list_actions", :item => page %>
</tr>
<% page.children.each do |p| %>
  <%= render :partial => "brightcontent/pages/table_row", :locals => { :page => p, :depth => depth+1 } %>
<% end %>