<%= form_tag sessions_path, class: "form-signin" do %>
  <h2>Please sign in</h2>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Login", class: "btn btn-large btn-primary" %>
<% end %>
