<%= form_tag sessions_path, class: "form-signin", role: 'form' do %>
  <h2 class="form-signin-heading"><%=t('brightcontent.sign_in')%></h2>
  <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: t('activerecord.attributes.brightcontent/admin_user.email'), autofocus: true %>
  <%= password_field_tag :password, nil, class: 'form-control', placeholder: t('activerecord.attributes.brightcontent/admin_user.password') %>
  <%= submit_tag t('brightcontent.login'), class: "btn btn-lg btn-primary btn-block" %>
<% end %>
