<%= simple_form_for resource_item_path do |form| %>
  <%= form.error_notification class: 'alert alert-error' %>

  <div class="page-header">
    <h1><%= resource.new_record? ? "Create new" : "Edit" %> <%= resource_class.model_name.human %></h1>
  </div>

  <div class="panel-body form-fields">
    <% form_fields.each do |form_field| %>
      <%= render_form_field(form, form_field) %>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= form.button :submit, class: "btn btn-primary" %>
    <%= form.button :submit, "Save and continue", class: "btn btn-default", name: "commit_and_continue" %>

    <% unless resource.new_record? %>
      <%= link_to "Delete", resource_item_path, class: "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
