<%= simple_form_for resource_path do |form| %>
  <%= form.error_notification %>

  <div class="page-header">
    <h1><%= t('brightcontent.' + (resource.new_record? ? 'create_new' : 'edit_model'), model: resource_class.model_name.human).capitalize %></h1>
  </div>

  <div class="panel-body form-fields">
    <% form_fields.each do |form_field| %>
      <%= render_form_field(form, form_field) %>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= form.button :submit, class: "btn btn-primary" %>
    <%= form.button :submit, t('brightcontent.save_and_continue'), class: "btn btn-default", name: "commit_and_continue" %>

    <% unless resource.new_record? %>
      <%= link_to t('brightcontent.delete'), resource_path, class: "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
