<div class="page-header">
  <%= link_to "#{I18n.t('brightcontent.create_new', model: resource_class.model_name.human).capitalize}", polymorphic_url(resource_index_path, action: :new), class: "btn btn-primary pull-right" %>
  <h1><%= nominative_plural(resource_class).capitalize %></h1>
</div>

<%= render_if_exists "index_top" %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <% list_fields.each do |list_field| %>
          <th><%= resource_class.human_attribute_name(list_field) %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'list_item', collection: collection, as: :item %>
    </tbody>
  </table>
</div>

<div class="panel-footer panel-footer-pagination">
  <%= will_paginate collection, renderer: BootstrapPagination::Rails %>
</div>
