<%= render "list_header" %>

<%= render "list_filters" %>

<div class="table-responsive">
  <table class="table table-hover <%= dom_class(resource_class, :table) %>">
    <thead>
      <tr>
        <% list_fields.each do |list_field| %>
          <th><%= resource_class.human_attribute_name(list_field) %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'list_item', collection: collection, as: :item %>
    </tbody>
  </table>
</div>

<div class="panel-footer panel-footer-pagination">
  <%= render partial: "page_sizes" %>
  <%= will_paginate collection, class: :pages, renderer: Brightcontent::PaginationRenderer %>
</div>
