<%= form_tag admin_session_path, :method => :post, :id => "login" do |f| %>
  <h2>Login</h2>
  <div class="field">
    <%= label_tag :email_address, "Email address" %>
    <%= text_field_tag :email_address, @email_address %>
  </div>
  <div class="field">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, @password %>
  </div>
  <%= submit_tag "Login" %>
<% end %>
