<div id="overview">

  <%= link_to "Create new #{resource_instance_name.to_s.humanize}", polymorphic_url([parent, resource_class], action: :new), class: "btn btn-primary btn-right" %>
  <h1><%= resource_collection_name.to_s.humanize %></h1>
  <%= render "index_top" %>

  <%= content_tag("ol", class:"sortable_tree", :"data-rebuild_url" => rebuild_pages_url, :"data-max_levels" => 5 ) do -%>
    <%= sortable_tree @pages, title:"name" -%>
  <% end -%>
</div>
