.block
  = form_for [:brightcontent, @item], :html => { :multipart => true } do |f|
    - @form_fields.each do |field|
      .field
        = f.label field, field.to_s.humanize
        = form_field f, field
        = error_message_on @item, field
    = render "form_buttons"