= link_to "<span>+</span> New #{@model.name.titleize}".html_safe, polymorphic_url([:brightcontent, @model], action:"new"), class:"new_document"

%h2= @model.name.pluralize.titleize
- if @search_fields.present?
  .search_and_pagination
    #search
      = form_for "", :method => "get" do
        %input.box{name: "term", value: "#{@search_term.presence || ""}"}
        = submit_tag "Search", :class => "button"
    = will_paginate @items, {previous_label: "Previous", next_label: "Next"}
    :javascript
      $(function(){
        $("#search .box").click(function(){
          this.select();
        });
      });
- else
  = will_paginate @items, {previous_label: "Previous", next_label: "Next"}

.list
  %table
    %thead
      %tr
        - @list_fields.each do |field|
          %th= field.humanize
        %th
    %tbody
      - @items.each do |item|
        %tr{class:"#{'hidden' if (item.hidden? rescue nil)} #{'draft' if (item.draft? rescue nil)} #{ cycle('odd', 'even')}"}
          - @list_fields.each_with_index do |field, index|
            %td
              = list_field item, field
              = "<em>draft</em>".html_safe if (item.draft? rescue nil) && index == 0
              = "<span>(hidden)</span>".html_safe if (item.hidden? rescue nil) && index == 0
          = render "list_actions", :item => item

%br
- if @items.count > 15
  = link_to "<span>+</span> New #{@model.name.titleize}".html_safe, polymorphic_url([:brightcontent, @model], :action => "new"), :class => "new_document"
  = will_paginate @items, {previous_label: "Previous", next_label: "Next"}
