<!DOCTYPE html>
<html>
<head>
  <title>Brightcontent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "brightcontent/brightcontent", :media => "all" %>
  <%= javascript_include_tag "brightcontent/brightcontent" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>


  <% if current_user %>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to Brightcontent.application_name, root_path, class: "brand" %>
          <div class="nav-collapse collapse">
            <ul class="nav" id="menu">
              <%= render "menu" %>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Homepage", "/" %></li>
                  <li><%= link_to "Admins", admin_users_path %></li>
                  <li><%= link_to "Logout", logout_path %></li>
                <ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container <%= "box" unless controller.controller_name == 'sessions' %>">
    <%= render "brightcontent/application/show_flash_names" %>
    <%= yield %>
  </div>

</div>

</body>
</html>
