<!DOCTYPE html>
<html>
<head>
  <title>Brightcontent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "brightcontent/brightcontent", :media => "all" %>
  <%= javascript_include_tag "brightcontent/brightcontent" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <% if current_user %>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to Brightcontent.application_name, root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav js-menu">
            <%= render "menu" %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag avatar_url(current_user), class: 'avatar' %>
              <%= current_user.email %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Homepage", "/" %></li>
              <li><%= link_to "Admins", admin_users_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="<%= "panel panel-default" unless controller.controller_name == 'sessions' %>">
      <%= render "brightcontent/application/show_flash_names" %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
