<!DOCTYPE html>
<html>
<head>
  <title><%= Brightcontent.application_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <%= stylesheet_link_tag "brightcontent/brightcontent", :media => "all" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body data-editor-locale="<%=t('brightcontent.editor_locale')%>">
  <%= render 'layouts/brightcontent/navbar' %>

  <div class="container-wide">
    <%= render 'layouts/brightcontent/content' %>
  </div>
</div>

<%= javascript_include_tag "brightcontent/brightcontent" %>
<%= yield :bottom %>
</body>
</html>
