!!!
%html{xmlns:"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", lang:"en"}
  %head
    %meta{"http-equiv" => "Content-Type", content:"text/html; charset=utf-8"}
    %meta{name:"robots", content:"nofollow"}
    %title BrightContent
    = stylesheet_link_tag 'brightcontent.css'
    = stylesheet_link_tag 'wymeditor/wymeditor.css'
    = javascript_include_tag 'brightcontent/application'
    = javascript_include_tag 'wymeditor/jquery.wymeditor.js'
    = csrf_meta_tag
    = yield :additional_javascript
    = render_if_exists "head"
  %body
    #header
      %h1 BrightContent
      = link_to "view site", '/', id:"view_site"
      #user
        - if @current_user
          %span= @current_user.email_address
          =" | "
          = link_to 'logout', brightcontent_session_url, method: 'delete'
      #nav
        %ul
          - if @brightcontent_controllers
            - @brightcontent_controllers.each do |brightcontent_controller|
              %li= link_to brightcontent_controller.titleize, "/admin/#{brightcontent_controller}", class:(controller_name == brightcontent_controller ? "active" : "")
    #content
      = render "brightcontent/application/flashes"
      = yield