<!DOCTYPE html>
<html>
<head>
  <title>Brightcontent</title>
  <%= stylesheet_link_tag    "brightcontent/application", :media => "all" %>
  <%= javascript_include_tag "brightcontent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_menu">
  <%= link_to "Logout", logout_path %>
</div>

<nav>
  <ul id="menu">
    <li><%= link_to "Pages", pages_path %></li>
  </ul>
</nav>

<%= render "application/show_flash_names" %>

<%= yield %>

</body>
</html>
