<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>BrightContent</title>
  <%= stylesheet_link_tag    'brightcontent/application', 'brightcontent/custom' %>
  <%= javascript_include_tag 'brightcontent/application' %>
  <%= csrf_meta_tag %>
  <%= yield :additional_javascript %>
  <%= render_if_exists "head" %>
</head>
<body>
  <div id="header">
    <h1>BrightContent</h1> <%= link_to "view site", '/', :id => "view_site" %>
    <div id="user">
      <% if @current_user %>
      <span><%= @current_user.email_address %></span> | <%= link_to 'logout', brightcontent_session_url, :method => 'delete' %>
      <% end %>
    </div>
    <div id="nav">
      <ul>
        <% if @brightcontent_controllers %>
          <% @brightcontent_controllers.each do |brightcontent_controller| %>
            <li><%= link_to brightcontent_controller.titleize, "/admin/#{brightcontent_controller}", :class => controller_name == brightcontent_controller ? "active" : ""  %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="content">
    <%= render "brightcontent/application/flashes" %>
    <%= yield %>
  </div>
</body>
</html>
