<div id="overview">

  <%= link_to "Create new #{resource_instance_name.to_s.humanize}", polymorphic_url(resource_class, action: :new), class: "btn btn-primary btn-right" %>
  <h1><%= resource_collection_name.to_s.humanize %></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <% list_fields.each do |list_field| %>
          <th><%= list_field.humanize %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render "list", collection: collection, list_fields: list_fields  %>
    </tbody>
  </table>

  <%= will_paginate collection %>

</div>
