<li class="list-group-item attachment" data-attachment-id="<%= attachment.id %>">
  <div class="media">
    <% if attachment.image? %>
      <%= image_tag attachment.url(:brightcontent), class: "media-object pull-left" %>
    <% end %>
    <div class="media-body">
      <h4 class="attachment-file media-heading"><%= attachment.asset_file_name %></h4>
      <% if attachment.image? %>
        <%= link_to "Insert", nil, class: "insert insert_image btn btn-primary btn-xs", data: { insert_image: attachment.url(:main) } %>
      <% else %>
        <%= link_to "Insert", nil, class: "insert insert_link btn btn-primary btn-xs", data: { insert_url: attachment.url(:original), insert_name: attachment.asset_file_name } %>
      <% end %>
      <%= link_to "Delete", destroy_attachment_path(attachment.id), class: "delete btn btn-danger btn-xs" %>
    </div>
  </div>
</li>
<!-- >>>>>>> sortable-attachments -->
