<%= div_for attachment do %>
  <% if attachment.image? %>
    <%= image_tag attachment.url(:brightcontent) %>
    <%= link_to t('brightcontent.insert'), nil, class: "insert insert_image btn btn-xs", data: { insert_image: attachment.url(:main) } %>
  <% else %>
    <div class="attachment-file"><%= attachment.asset_file_name %></div>
    <%= link_to t('brightcontent.insert'), nil, class: "insert insert_link btn btn-xs", data: { insert_url: attachment.url(:original), insert_name: attachment.asset_file_name } %>
  <% end %>
  <%= link_to t('brightcontent.delete'), destroy_attachment_path(attachment.id), method: :delete, data: {confirm: t('brightcontent.are_you_sure')}, class: "delete btn btn-danger btn-xs" %>
<% end %>
