<% if item.persisted? %>
  <div id="attachments">
    <% item.attachments.each do |attachment| %>
      <%= image_tag attachment.url %>
    <% end %>
  </div>

  <input id="fileupload" type="file" name="asset" data-url="<%= new_attachment_path %>" multiple>
  <%= hidden_field_tag "attachable_id", item.id %>
  <%= hidden_field_tag "attachable_type", item.class.to_s %>
  <%= hidden_field_tag "attachable_url", attachments_path(item.class.to_s, item.id) %>

<% else %>
  First save to enable uploads
<% end %>
