<div class="form-group">
  <label class="control-label col-sm-2"><%=Brightcontent::Attachment.model_name.human.pluralize%></label>
  <div class="col-sm-10" id="attachments-controls">
    <% if item.persisted? %>
      <ul class="media-list" id="attachments">
        <%= render item.attachments %>
      </ul>
      <input id="fileupload" type="file" name="attachment[asset]" data-url="<%= new_attachment_path %>" class="form-control" multiple>
      <%= hidden_field_tag "attachment[attachable_id]", item.id %>
      <%= hidden_field_tag "attachment[attachable_type]", item.class.to_s %>
      <%= hidden_field_tag "attachable_url", attachments_path(item.class.to_s, item.id) %>
    <% else %>
      <p class="form-control-static"><%= t('brightcontent.save_first')%></p>
    <% end %>
  </div>
</div>
