<div class="form-group">
  <label class="col-sm-2 control-label"><%=Brightcontent::Attachment.model_name.human.pluralize%></label>
  <div class="col-sm-10">
    <% if item.persisted? %>
      <div id="attachments" class="clearfix">
        <%= render item.attachments %>
      </div>

      <input id="fileupload" type="file" name="asset" data-url="<%= new_attachment_path %>" class="form-control" multiple>
      <%= hidden_field_tag "attachable_id", item.id %>
      <%= hidden_field_tag "attachable_type", item.class.to_s %>
      <%= hidden_field_tag "attachable_url", attachments_path(item.class.to_s, item.id) %>

    <% else %>
      <p class="form-control-static"><%= t('brightcontent.save_first')%></p>
    <% end %>
  </div>
</div>
