<div class="control-group optional">
  <label class="optional control-label">Attachments</label>
  <div class="controls">
    <% if item.persisted? %>
      <ul class="media-list" id="attachments">
        <%= render item.attachments %>
      </ul>

      <input id="fileupload" type="file" name="attachment[asset]" data-url="<%= new_attachment_path %>" multiple>
      <%= hidden_field_tag "attachment[attachable_id]", item.id %>
      <%= hidden_field_tag "attachment[attachable_type]", item.class.to_s %>
      <%= hidden_field_tag "attachable_url", attachments_path(item.class.to_s, item.id) %>

    <% else %>
      First save to enable uploads
    <% end %>
  </div>
</div>
