<%= content_for :additional_javascript do %>
    <%= javascript_include_tag "/admin/javascripts/jtextbar/jquery-jtextbar" %>
      <style type="text/css" media="all">@import "/admin/javascripts/jtextbar/jtextbar.css";</style>
    <script type="text/javascript">
      $(document).ready(function() {
        $("textarea[id*='body']").jtextbar({format: "Textile"});
      });
    </script>
<% end %>

<div class="block">
  <%= form_for [:admin, @item], :html => { :multipart => true } do |f| %>
    <% @form_fields.each do |field| %>
      <div class="field">
        <%= f.label field, field.to_s.humanize %>
        <%= form_field f, field %>
        <%= error_message_on @item, field %>
      </div>
    <% end %>
  
    <%= submit_tag "Save" %>
    <%= submit_tag "Save and continue", :name => "commit_and_continue" %> or
    <%= link_to "cancel", [:admin, @model] %>
  <% end %>
</div>