<div class="block">
  <%= form_for [:admin, @item], :html => { :multipart => true } do |f| %>
    <% @form_fields.each do |field| %>
      <div class="field">
        <%= f.label field, field.to_s.humanize %>
        <%= form_field f, field %>
        <%= error_message_on @item, field %>
      </div>
    <% end %>
  
    <%= render find_partial("form_buttons") %>
  <% end %>
</div>